@import "tailwindcss";
@import "../../../../styles/globals.css";

.project-group-configuration {
  @apply flex-col w-fit min-[550px]:w-[420px] min-[550px]:max-w-[420px] overflow-y-auto custom-scrollbar;
}

.project-group-configuration-loading {
  @apply relative min-h-80;
}
