@import "tailwindcss";
@import "../../../styles/globals.css";

.student-view {
  @apply flex flex-col gap-x-10 overflow-hidden lg:flex-row 2xl:px-10;
}

.student-view-cards {
  @apply w-full lg:min-h-full lg:flex-col-centered;
}
