@import "tailwindcss";
@import "../../../../../../styles/globals.css";

.file-import-upload-wrapper {
  @apply w-full min-h-44 border-2 border-primary-dark border-dashed flex-col-centered gap-y-2;
  @apply rounded hover:border-solid hover:bg-primary-dark hover:text-secondary-gray;
  @apply transition-colors custom-ease-with-duration hover:cursor-pointer;
}

.drag-active {
  @apply bg-primary-dark text-secondary-gray transition-colors custom-ease-with-duration;
}

.file-import-loading {
  @apply relative;
}

.file-import-upload-icon {
  @apply text-7xl material-symbols;
}

.file-import-text {
  @apply w-88 text-3xl break-words text-center;
}
