@import "tailwindcss";
@import "../../../../styles/globals.css";

.forgot-password-wrapper {
  @apply min-w-80;
}

.forgot-password-wrapper form {
  @apply w-full flex flex-col gap-y-4;
}

.forgot-password-input-wrapper {
  @apply w-full h-[54px];
}

.forgot-password-input-wrapper input {
  @apply w-full text-center h-full text-3xl border-b-2 border-b-primary-dark focus:outline-none text-primary-dark;
}

.forgot-password-selector {
  @apply w-52 text-nowrap;
}
