@import "tailwindcss";
@import "../../../styles/globals.css";

/* XPCardPoints */

.xp-card-points {
  @apply w-full flex-1 flex-col-centered shrink-0 aspect-square transition-all;
}

.xp-card-points-has-chest {
  @apply absolute bottom-0 right-0 mr-2 mb-2 text-xl;
}

/* XPCardProjectVariant */

.xp-card-project-variant {
  @apply h-full flex-col-centered self-end flex-shrink-0 aspect-square;

  p {
    @apply text-5xl;
  }
}

/* XPCardChest */

.xp-card-chest {
  @apply w-full h-full flex-col-centered bg-secondary-gray dark:bg-secondary-dark box-border;

  span {
    @apply text-5xl text-primary-dark dark:text-secondary-light;
  }
}

/* XPCardImage */

.xp-card-image {
  @apply w-full h-full relative flex-shrink-0  select-none aspect-square;
}

/* XPCardText */

.xp-card-text {
  @apply w-full flex-1 flex-col-centered;
}

/* XPCardAssign */

.xp-card-assign {
  @apply w-full flex-1 flex-col-centered;
}

.xp-card-assign-wrapper {
  @apply w-4/5 flex justify-between -mb-2;
}

.xp-card-assign-button {
  @apply w-8 h-8 rounded flex-col-centered select-none hover:bg-primary-gray;

  span {
    @apply material-symbols text-2xl;
  }
}

.xp-card-locked-item {
  @apply absolute bg-secondary-gray/70 dark:bg-primary-dark/80 flex-centered w-full h-full;

  span {
    @apply material-symbols;

    p {
      @apply text-4xl;
    }
  }
}

/* xp card points with rewards */

.xp-card-points-with-rewards {
  @apply w-full h-full flex items-center justify-end;
}

.xp-card-points-with-rewards-chest {
  @apply w-fit px-4 flex-col-centered;

  span {
    @apply material-symbols text-4xl;
  }
}

.xp-card-points-with-rewards-points {
  @apply aspect-square h-full flex-col-centered;
}
