@import "tailwindcss";
@import "../../../styles/globals.css";

.grade-info-section {
  @apply min-[26rem]:w-96 overflow-y-auto custom-scrollbar;
}

.grade-info-accordion-override {
  @apply gap-y-4;
}

.grade-info-accordion-header {
  h1 {
    @apply !text-4xl !mr-5;
  }

  h2 {
    @apply !text-3xl;
  }
}

.grade-info-criterion {
  @apply flex flex-col my-2;

  h2 {
    @apply text-3xl my-3;
  }

  h3 {
    @apply text-2xl;
  }
}

.grade-info-criterion-progress-bar {
  @apply w-full px-6 pt-6;
}

.grade-info-xp {
  @apply flex-centered text-4xl -mt-7 z-[20];
}

.grade-info-reward {
  @apply grid grid-cols-3 gap-4 w-full;
}

.grade-info-reward-wrapper {
  @apply relative w-full aspect-square rounded-xl shadow-sm  drop-shadow-xl overflow-hidden;
}

.grade-info-reward-image-wrapper {
  @apply w-full h-full rounded-xl overflow-hidden;
}

.grade-info-reward-image-badge {
  @apply text-xl w-7 rounded-tl-lg rounded-br-lg;
}

.grade-info-comment {
  @apply w-full p-4 text-xl border-3 focus:outline-none rounded-xl default-colors resize-none custom-scrollbar overflow-y-auto max-h-72;
}
