@import "tailwindcss";
@import "../../../../styles/globals.css";

.delete-animal {
  @apply w-lg flex flex-col gap-y-4;

  h1 {
    @apply text-3xl;
  }
}

.delete-animal-buttons {
  @apply w-full flex gap-x-4;
}
