@import "tailwindcss";
@import "../../styles/globals.css";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.notification-modal-container {
  @apply w-[350px] min-h-[100px] custom-ease-with-duration;
}

.notification-content-loading {
  @apply h-[300px] relative;
}

.notification-content-message {
  @apply h-[100px] relative flex-col-centered;

  span {
    @apply text-2xl;
    animation: fadeIn 0.25s ease-in-out;
  }
}

.notification-list {
  @apply w-full flex flex-col max-h-[300px] overflow-y-auto custom-scrollbar transition-all custom-ease-with-duration;
  scrollbar-gutter: stable both-edges;
}
