@import "tailwindcss";
@import "../../styles/globals.css";

.notification-list {
  @apply w-full flex flex-col gap-y-4 max-h-[300px] overflow-y-auto custom-scrollbar transition-all custom-ease-with-duration;
  scrollbar-gutter: stable both-edges;
}
