@import "tailwindcss";
@import "../../styles/globals.css";

.background-wrapper {
  /*@apply fixed inset-0 top-0 left-0;*/
  background-image: url("/background.webp");
}

.dark .background-wrapper,
.background-wrapper.force-dark {
  background-image: url("/background-dark.webp");
}

.background-wrapper.force-light {
  background-image: url("/background.png");
}
