@import "tailwindcss";
@import "../../styles/globals.css";

.main-layout {
  @apply w-full h-full flex flex-col min-h-[calc(100dvh)] relative overflow-x-hidden custom-scrollbar lg:pr-24;
  scrollbar-gutter: stable both;
}

body:has([data-speed-dial-portal="true"]) #main-container {
  @apply pb-20 lg:pb-0;
}

.main-layout-title {
  @apply w-full flex-centered h-15 shrink-0 hidden lg:flex;

  h3 {
    @apply text-4xl;
  }
}

.main-layout-content-wrapper {
  @apply w-full flex flex-col flex-1 max-lg:mt-20 relative;
}
