@import "tailwindcss";
@import "../../../../../styles/globals.css";

.group-pick {
  @apply w-full flex-col-centered;
}

.group-pick-wrapper {
  /*@apply w-full h-full flex items-center text-2xl border-b-2  border-primary-dark dark:border-secondary-light;*/
  @apply flex w-full gap-x-2 justify-between overflow-x-hidden;
}

.group-pick-input {
  @apply w-full ml-2 text-primary-dark dark:text-secondary-light placeholder-primary-dark dark:placeholder-secondary-light focus:outline-none;
}

.group-pick-text {
  @apply text-3xl my-4;
}

.group-pick-search {
  @apply w-full h-fit max-h-[250px] mt-2 overflow-y-auto flex flex-col gap-y-1 z-[999] custom-scrollbar;
}

.group-pick-card {
  @apply min-h-fit;
}

.group-pick-no-results {
  @apply w-full h-full flex-col-centered text-2xl;
}

.group-pick-group {
  @apply w-full max-h-[250px]ã€€overflow-y-auto custom-scrollbar flex flex-col gap-y-1 z-[999];
}

.group-pick-button {
  @apply w-full mt-4;
}
