@import "tailwindcss";
@import "../../../../../styles/globals.css";

.group-pick {
  @apply flex-col w-full;
}

.group-pick-wrapper {
  @apply flex w-full gap-x-2 justify-between overflow-x-hidden;
}

.group-pick-text {
  @apply text-3xl my-4;
}

.group-pick-search {
  @apply w-full h-fit max-h-[250px] mt-2 overflow-y-auto flex flex-col gap-y-1 z-[999] custom-scrollbar;
}

.group-pick-card {
  @apply min-h-fit;
}

.group-pick-group {
  @apply w-full max-h-[250px]ã€€overflow-y-auto custom-scrollbar flex flex-col gap-y-1 z-[999];
}

.group-pick-filters-button {
  @apply flex gap-x-2 mt-1 lg:gap-x-4;
}

.group-pick-button {
  @apply w-full mt-4;
}

.group-pick-loading {
  @apply relative min-h-80;
}
