@import "tailwindcss";
@import "../../styles/globals.css";

.xp-card-grid-animate {
    opacity: 0;
    transform: translateY(50px);
}

.xp-card-grid-center-vertically {
    @apply flex flex-col justify-between w-full max-h-full;
}

.xp-card-grid-point-summary-layout {
    @apply flex flex-col items-center gap-5;
    @apply lg:flex-row lg:justify-between lg:gap-10;
}

.xp-card-fading-edges {
    @apply max-xl:w-full;
    mask-image: linear-gradient(
            to right,
            transparent,
            black 1%,
            black 99%,
            transparent
    );
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
}

.xp-card-grid {
    @apply grid gap-5 p-3 justify-items-start items-start;
    @apply lg:mb-5;
}

.xp-card-no-grid {
    @apply w-full flex justify-center text-3xl;
}

.xp-card {
    @apply box-border w-full rounded-xl drop-shadow-lg transition-all overflow-hidden flex flex-row bg-neutral-50 dark:bg-primary-dark;
}

.xp-card-hover {
    @apply cursor-pointer hover:drop-shadow-xl;
}

.xp-card-image {
    @apply relative shrink-0;
}

.xp-card-middle {
    @apply flex flex-col justify-center h-full px-7 min-w-0 flex-1;

    h1,
    h2 {
        @apply truncate;
    }
}

.xp-card-component {
    @apply box-border flex-col-centered shrink-0 h-full pb-[6px];
}

.xp-card-xs {
    @apply h-20 min-[400px]:h-24 drop-shadow-sm rounded-lg;

    .xp-card-image,
    .xp-card-component {
        @apply w-20 h-20 min-[400px]:w-24 min-[400px]:h-24;
    }

    .xp-card-middle {
        @apply min-w-32 max-w-xl min-[400px]:min-w-48 px-4 py-2 gap-0;
    }


    .xp-card-middle,
    .xp-card-component {
        h1 {
            @apply text-2xl min-[400px]:text-[2rem];
        }

        h2 {
            @apply text-lg min-[400px]:text-[1.3rem];
        }
    }
}

.xp-card-xs.xp-card-force-width .xp-card-middle {
    @apply w-[9rem];
}

.xp-card-sm {
    @apply h-30;

    .xp-card-image {
        @apply w-30 h-30;
    }

    .xp-card-component {
        @apply w-30 h-30;
    }

    .xp-card-middle,
    .xp-card-component {
        h1 {
            @apply text-4xl;
        }

        h2 {
            @apply text-lg;
        }
    }
}

.xp-card-sm.xp-card-force-width .xp-card-middle {
    @apply w-[12rem];
}

.xp-card-md {
    @apply h-40 lg:max-w-[26rem];

    .xp-card-image {
        @apply w-40 h-40;
    }

    .xp-card-component {
        @apply w-40 h-40;
    }

    .xp-card-middle,
    .xp-card-component {
        h1 {
            @apply text-5xl;
        }

        h2 {
            @apply text-2xl;
        }
    }
}

.xp-card-md.xp-card-force-width .xp-card-middle {
    @apply lg:w-[24rem];
}

.xp-card-lg {
    @apply h-50 lg:max-w-[35rem];

    .xp-card-image {
        @apply w-50 h-50;
    }

    .xp-card-component {
        @apply w-50 h-50;
    }

    .xp-card-middle,
    .xp-card-component {
        h1 {
            @apply text-6xl;
        }

        h2 {
            @apply text-2xl;
        }
    }
}

.xp-card-lg.xp-card-force-width .xp-card-middle {
    @apply w-[22.5rem];
}

.xp-card-hall-of-fame-desktop {
    @apply w-full h-full;

    .xp-card-component {
        @apply w-32 h-full;
    }

    .xp-card-middle {
        @apply bg-primary-light dark:bg-primary-dark max-w-full;
    }

    .xp-card-middle,
    .xp-card-component {
        @apply gap-0 2xl:gap-1;

        h1 {
            @apply text-[1.9rem] lg:text-4xl 2xl:text-[2.5rem];
        }

        h2 {
            @apply text-2xl 2xl:text-[1.6rem] mt-0;
        }
    }
}
