@import "tailwindcss";
@import "../../styles/globals.css";

.login-wrapper {
    @apply relative flex-centered w-full max-w-xl px-16 text-primary-dark;
    @apply md:px-0;
}

.login-wrapper > div {
    @apply w-full max-w-xs text-center mt-20;
}

.login-form {
    @apply space-y-4;
}

.login-form > div > input {
    @apply w-full text-center text-4xl py-3 border-b-2 border-b-primary-dark focus:outline-none text-primary-dark;
}

.login-form > div > input:-webkit-autofill,
.login-form > div > input:-webkit-autofill:hover,
.login-form > div > input:-webkit-autofill:focus,
.login-form > div > input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #262626;
    transition: background-color 5000s ease-in-out 0s;
}

.forgot-password {
    @apply mt-4 text-center text-xl hover:cursor-pointer;
}