@import "tailwindcss";
@import "../../styles/globals.css";

.error-component {
  @apply flex-col-centered gap-4 p-8 text-center m-auto w-full max-w-xl;
}

.error-component-title {
  @apply text-3xl;
}

.error-component-message {
  @apply text-lg opacity-80;
}
