@import "tailwindcss";
@import "../../../../styles/globals.css";

.grade-error {
  @apply flex flex-col gap-2 min-[26rem]:w-96 text-xl 2xl:text-2xl;
}

.grade-loading {
  @apply relative flex-col-centered gap-2 min-[26rem]:w-96 h-32;
}

.grade-wrapper {
  @apply min-h-32;
}
