@import "tailwindcss";
@import "../../../styles/globals.css";

/* TODO: duplicate */

.reset-password-wrapper {
  @apply relative flex-centered w-full max-w-xl px-16 text-primary-dark z-50 mt-9;
  @apply md:px-0;
}

.reset-password-wrapper > div {
  @apply w-full max-w-xs text-center;
}

.reset-password-form {
  @apply space-y-4;
}

.reset-password-form div input {
  @apply text-primary-dark dark:text-secondary-gray border-primary-dark dark:border-secondary-light;
}
