@import "tailwindcss";
@import "../../styles/globals.css";
.welcome-layout-wrapper {
    @apply w-full relative flex flex-col lg:flex-row bg-black;

    @screen lg {
        height: calc(100dvh - 3.75rem);
        max-height: calc(100dvh - 3.75rem);
    }

    @screen max-lg {
        height: 100dvh;
        max-height: 100dvh;
    }
}