@import 'tailwindcss';
@tailwind utilities;

:root {
  --font-family-symbols: 'Material Symbols Rounded';
}

@theme {
  --shadow-3xl: 0px 0px 12px 0px rgba(66, 68, 90, 0.5);
  --breakpoint-3xl: 132rem;
}

@utility flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility flex-col-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@utility custom-scrollbar {
  scrollbar-color: #3c3c3c transparent;
  scrollbar-width: thin;
}

@utility material-symbols {
  font-family: var(--font-family-symbols), serif;
  font-variation-settings:
    "FILL" 0,
    "wght" 600,
    "GRAD" 0,
    "opsz" 48;
  display: inline-block;
  line-height: 1;
}

@source inline('grid-rows-1');
@source inline('grid-rows-2');
@source inline('grid-rows-3');
@source inline('grid-rows-4');
@source inline('grid-cols-1');
@source inline('grid-cols-2');
@source inline('grid-cols-3');
