@import "tailwindcss";
@import "../../../../styles/globals.css";

.invite-student-wrapper {
    @apply min-w-80;
}

.invite-student-wrapper form {
    @apply w-full flex flex-col gap-y-4;
}
.invite-student-columns {
    @apply flex gap-x-4;
}

.invite-student-wrapper input {
    @apply w-full text-center text-3xl pb-2 border-b-2 border-b-primary-dark focus:outline-none text-primary-dark;
}

.invite-student-wrapper input:-webkit-autofill,
.invite-student-wrapper input:-webkit-autofill:hover,
.invite-student-wrapper input:-webkit-autofill:focus,
.invite-student-wrapper input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #262626;
    transition: background-color 5000s ease-in-out 0s;
}

.invite-student-wrapper input[type="number"]::-webkit-outer-spin-button,
.invite-student-wrapper input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.invite-student-wrapper input[type="number"] {
    -moz-appearance: textfield !important;
}