@import "tailwindcss";

@theme {
    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes slideInFromLeftOwl {
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slideInFromRight {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes slideOutToRight {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(100%);
        }
    }

    --animate-slideInFromLeft: slideInFromLeft 0.7s cubic-bezier(0.34, 1, 0.2, 1) forwards;
    --animate-slideInFromLeftOwl: slideInFromLeftOwl 0.9s 0.1s cubic-bezier(0.34, 1, 0.2, 1) forwards;
    --animate-slideInFromRight: slideInFromRight 0.7s cubic-bezier(0.34, 1, 0.2, 1) forwards;
    --animate-slideOutToRight: slideOutToRight 0.7s cubic-bezier(0.34, 1, 0.2, 1) forwards;
}