@import "tailwindcss";
@import "../../styles/globals.css";

/* UserPoints */

.user-points {
  @apply w-full h-full grid sm:gap-1 lg:px-2;

  .user-point {
    @apply flex-col-centered min-h-fit lg:min-h-24 my-auto truncate;
  }

  .user-point-separators {
    @apply border-r-[1px] border-primary-dark dark:border-secondary-light;
  }
}
